* {
    color: white;
    background-color: #3287a8;
}

/* body {
    color: white
} */

/* .navtext {
    color: white
} */


@media screen and (max-width: 320px) {
    .width {
        width: 100%
    }
};
    
