body {
  color: white;
  background-color: black;
}

.katepic {
  display: flex;
  width: 80%;
  margin: 25px auto;
  justify-content: center;
}

.singles {
  border: 2px white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player {
  margin: 0 auto;
}

.logos {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.logos a img {
  width: 60px;
}

h1, h2, h3, h4, p {
  text-align: center;
}

.descriptions {
  font-size: 22px;
  text-align: center;
}

header {
  padding: 25px;
}

.bio {
  width: 80%;
  margin: 4% 10% 10% 10%;
  text-align: center;
  font-size: 25px;
}

@media screen and (max-width: 700px) {
  .bio {
    font-size: 12px;
  }
}

@media screen and (max-width: 1400px) {
  .descriptions {
    font-size: 15px;
  }
}

h2 {
  font-size: 1.8em;
}

.podcasts {
  margin-top: 25px;
}

.button {
  background-color: #0275d8;
}


.descriptions2 {
  margin-top: 10%;
  text-align: center;
}

.react-player-pod {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.react-player1 {
  margin: 50px auto 50px auto;
  width: 50%;
  height: 50%;
}

.react-player2 {
  margin: 0 auto 50px auto;
}

.react-player3 {
  margin: 0 auto 50px auto;
}

.react-player4 {
  margin: 50px auto 50px auto;
}

@media screen and (max-width: 750px) {
  .react-player1 {
    width: 400px !important;
    height: 225px !important;
  }

  .react-player2 {
    width: 400px !important;
    height: 225px !important;
  }

  .react-player3 {
    width: 400px !important;
    height: 225px !important;
  }

  .react-player4 {
    width: 400px !important;
    height: 225px !important;
  }
}

@media screen and (max-width: 500px) {
  .react-player1 {
    width: 320px !important;
    height: 180px !important;
  }

  .react-player2 {
    width: 320px !important;
    height: 180px !important;
  }

  .react-player3 {
    width: 320px !important;
    height: 180px !important;
  }

  .react-player4 {
    width: 320px !important;
    height: 180px !important;
  }
}

@media screen and (max-width: 400px) {
  .react-player1 {
    width: 250px !important;
    height: 140px !important;
  }

  .react-player2 {
    width: 250px !important;
    height: 140px !important;
  }

  .react-player3 {
    width: 250px !important;
    height: 140px !important;
  }

  .react-player4 {
    width: 250px !important;
    height: 140px !important;
  }
}

@media screen and (max-width: 300px) {
  .react-player1 {
    width: 200px !important;
    height: 112.5px !important;
  }

  .react-player2 {
    width: 200px !important;
    height: 112.5px !important;
  }

  .react-player3 {
    width: 200px !important;
    height: 112.5px !important;
  }

  .react-player4 {
    width: 200px !important;
    height: 112.5px !important;
  }
}

.video-desc {
  position: relative;
}

.with-you-desc {
  margin-top: -55%;
  text-align: center;
}

.player-wrapper {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.footer {
  background-color: #3287a8;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.react-player-mini {
  top: 0%;
  left: 0%;
}

.mini-descriptions {
  width: 80%;
  margin-top: 40%;
  margin-left: 5%;
}

.mini-descriptions2 {
  width: 80%;
  margin-top: 65%;
  margin-left: 5%;
}

.mini-title {
  width: 80%;
  margin-left: 10%;
}

.center {
  text-align: center;
}


.navbar-collapse {
  background-color: #3287a8;
  padding-left: 10px;
}

#navColor {
  background-color: #3287a8;
  height: 60px;
}

a.navbar-brand {
  font-size: 22pt;
}

a.nav-link {
  font-size: 16pt;
}

hr {
  border: 2px solid #3287a8;
  margin: 50px 100px 50px 100px;
  color: #3287a8;
  opacity: 0.8;
  border-radius: 20px;
}

#latest-text {
  text-align: center;
  margin-top: 15px;
}

#latest-icon-container {
  width: 70%;
  margin: 20px 15% 5% 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#latest-icon-container a img {
  width: 60px;
  margin: auto;
}

#latest-pic-container img {
  display: block;
  margin: 80px auto 0 auto;
  width: 45%;
}

a {
  color: white;
  text-decoration: underline #3287a8;
}

#videos-h1 {
  margin-bottom: 20px;
}

.player-wrapper h2 {
  margin-bottom: 15px;
}

nav {
  z-index: 999;
}

.row {
  align-items: flex-start;
}

.find-spotify {
  position: -webkit-sticky;

  position: sticky !important;
  top: 50px;
  margin-top: 10%;
}

.footer-flex {
  display: flex;
}


.blurb-and-links {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.single-wrapper .container {
  width: 100%;
  padding-top: 30px;
}

div.individual-single-with-description div {
  padding: 20px;
  text-align: center;
}

div.descriptions {
  margin: auto;
}

div.single-wrapper {
  margin-bottom: 100px;
}


@media screen and (max-width: 800px) {
  iframe {
    width: 100%;
  }
}

/*Footer shrink*/
div.footer img {
  max-width: 40px;
}

/*Contact Page */
div.contact-container form {
  background-color: #3287a8;
  max-width: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 25px;
  border-radius: 5px;
}

div.contact-container form .button {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

/*Mobile Navbar Cleanup*/
div.navbar-collapse.collapse.show {
  width: 100%;
  padding-bottom: 15px;
}

div.navbar-nav a {
  color: white;
  padding: 5px;
}

nav div.container button {
  border: 2px solid white;
}

.navbar > .container {
  background-color: #3287a8;
}

div.nav-item.show.dropdown a {
  color: black;
  background-color: white;
  border-radius: 5px;
}

/*End mobile nav update*/

div.nav-item a {
  color: white;
}

div#mini-songs-container,
div#commissions-container,
div#videos-container {
  margin-bottom: 100px;
}

/*Accessiblity Updates 12/12/25*/

.navbar .nav-link.active,
.dropdown-item.active {
  text-decoration: underline;
  text-underline-offset: 4px;
}

@media (min-width: 992px) {
  .container div.player {
    max-width: 960px;
  }
}

@media (min-width: 750px) {
  div.player {
    min-width: 300px;
  }
}

div#latest-release-container {
  margin: 0 auto;
  text-align: center;
  padding: 25px 0;
}

div#latest-release-container iframe {
  width: 70vw;
  aspect-ratio: 16 / 9;
}