.player-wrapper {
  position: relative;
  width: 80%;
  max-width: 100%;
  margin: 0.5rem auto;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.player-wrapper .react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* Optional: keep headings above the player */
.player-wrapper h2 {
    position: relative;
    margin: 0 auto;
}

div#videos-container {
    padding: 0 25px;
}